<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

     
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
     
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<body>
  <script src="https://code.jquery.com/jquery-2.1.3.js"></script>
<script src="js/bootstrap.js"></script>
    
  <nav class="navbar navbar-inverse" >
    <div class="container-fluid" >
      <div class="navbar-header"   >
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
        <a class="navbar-brand" href="https://sundaram-dubey.imgbb.com/"><i ><span style="font-family: cursive">Glimpse</span></i></a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-center">
          <li class="active"><a href="http://127.0.0.1:8000/home/">Home</a></li>
          
          <li><a href="http://127.0.0.1:8000/blog/search/">Blogs</a></li>
          <li><a href="http://127.0.0.1:8000/search/">Search</a></li>
           <li><a href="http://127.0.0.1:8000/arts/home/">Arts</a></li>


        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="http://127.0.0.1:8000/register/"><span class="glyphicon glyphicon-user"></span> join community </a></li>
          {% if not user.is_active %}

          <li><a href="http://127.0.0.1:8000/accounts/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
          <li><a href="http://127.0.0.1:8000/accounts/signup"><span class="glyphicon glyphicon-pencil"></span> signup</a></li>

          {% endif %}
    {% if user.is_active %}   
      <li><a href="http://127.0.0.1:8000/logout"><span class="glyphicon glyphicon-log-out"></span> logout</a></li>
       <li><a href="http://127.0.0.1:8000/{{user.id}}/guideprofile"><span class="glyphicon glyphicon-user"></span> profile</a></li>
    {% endif %}

            </ul>
          </div>
    </div>
  </nav>
  </body>


 

  